$green-check: #4DA858;
$red-check: #EA4335;
$blue-metalic: #00a9ce;
$navye-blue: #081f2c;
$azul-fuerte: #1D8AAE;
$azul-medio-fuerte: #23A2CC;
$gris: #ededee;
$gris-letras: #6c757d;
$azul-aqua: #38F2FF;
$azul-marino: #427B80;
$azul-aqua-bajo: #85F7FF;
$azul-medio: #2DC1CC;
