// Fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// Variables
@import 'variables';

//funciones
@import 'functions';

body {
    font-family: 'Titillium Web', sans-serif !important;
}

.contenedor-info {
    background-color: #fff;
    padding: 0;
}

.contenedor-info-tournament {
    background-color: #fff;
}

.vdatetime-input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}

.matchesTable {
    i {
        margin: 0 5px;
        &.fa-check-circle {
            color: $green-check;
        }

        &.fa-times-circle {
            color: $red-check;
        }
    }
}

.image-matches-teams {
    div {
        margin: 10px 0;
        img {
            width: 75%;
        }
    }
}

div.imagenes-equipos-partidos {
    margin-top: 13px;
    background-color: #e8e8e8;
    padding: 15px 5px;
}

span.goles-ganador,
span.goles-perdedor {    
    font-weight: 700;
    font-size: 1.3em;
}

span.goles-ganador {
    color: $green-check;
}

span.goles-perdedor {
    color: $red-check
}

.btn-blue {
    background-color: $blue-metalic;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    margin: 20px 0 40px;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    border: 0;

    &:hover {
        background-color: #008aaf;
        color: #fff;
        border-color: transparent;
    }
}

.btn-blue-pequeno {
    background-color: $blue-metalic;
    color: #fff;

    &:hover {
        background-color: #008aaf;
        color: #fff;
        border-color: transparent;
    }
}

.btn-futsi {
    padding: 4px 20px;
    color: #fff;
    font-size: 16px;
    border: 0;
    margin: 0 10px;
}

.btn-azul-marino {
    background-color: $azul-marino;
    &:hover {
        background-color: $azul-medio-fuerte;
        color: #fff;
    }
}

.btn-futsi-outline {
    padding: 4px 20px;
    color: $azul-fuerte;
    border: 1px solid $azul-fuerte;
    background-color: transparent;

    &:hover {
        background-color: $azul-medio-fuerte;
        color: #fff;
    }
}

.btn-azul-fuerte {
    background-color: $azul-fuerte;

    &:hover {
        background-color: $azul-medio-fuerte;
        color: #fff;
    }
}

.liga {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 2px;
    .texto-liga {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $navye-blue;
        line-height: 44px;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            color: $blue-metalic;
        }

        &:after {
            font-family: "Font Awesome 5 Free";
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-feature-settings: normal;
            font-variant: normal;
            text-transform: none;
            direction: ltr;
            unicode-bidi: embed;
            content: ">";
            right: 15px;
            transform: none;
            font-size: 24px;
            display: block;
            position: absolute;
            top: 0;
            margin-top: 6px;
        }
    }
}

.texto-liga-torneo {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $navye-blue;
    line-height: 44px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: $blue-metalic;
    }

}
.img-portada-league {
    height: 250px;
}

.img-portada-tournament {
    height: 400px;
    background-size: cover !important;
}

.img-portada-league,
.img-portada-tournament {
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:hover {
        opacity: .7;
        cursor: pointer;
    }

    &:hover img {
        transform: translateY(20px);
        opacity: 1;
    }

    img {
        margin-top: -20px;
        transition: all .2s ease-in-out;
        opacity: 0;
    }
}

.img-profile-league {

    img.camere {
        transition: all .2s ease-in-out;
        position: absolute;
        margin: -38px 0px 0px -93px;
        opacity: 0;
        cursor: pointer;
    }
    &:hover img.camere{
        transform: translateY(20px);
        opacity: 1;
    }
    img.img-profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #e0e0e0;
        margin-top: -80px;
        cursor: pointer;
        background: #cecccc;
        &:hover {
            -webkit-filter: brightness(80%);
            filter: brightness(80%);
        }
    }
    
}

.titulo-profile {
    font-size: 1.3rem;
    color: $navye-blue;
}

.titulo-azul {
    font-size: 1.3rem;
    color: $azul-medio;
}

.titulo-medio-pequeño-azul {
    font-size: 1.1rem;
    color: $azul-medio;
}

.titulo-pequeño-azul-marino {
    font-size: .9rem;
    color: $azul-marino;
}

.info-torneos-league {
    .torneo-league {
        border: solid 2px $gris;
        min-height: 363px;
        img.sub-img-league {
            width: 100%;
            height: 120px;
            &:hover {
                opacity: .7;
                cursor: pointer;
            }
        }

        div.plus-torneo img {
            &:hover {
                opacity: .7;
                cursor: pointer;
            } 
        }

        p {
            font-size: .9em;
            color: $gris-letras;
            font-weight: 700;
            display: block;

            span {
                font-weight: 500;
            }
        }

        .plus-torneo {
            img {
                width: 100;
            }
        }
    }
}

.status-torneo,
.status-torneo-finalizado {
    margin-bottom: 15px;
    span {
        color: #fff;
        padding: 5px;
        font-size: .9em;
        font-weight: 600;
    }
}

.status-torneo {
    span {
        background-color: $azul-aqua;
    }
}

.status-torneo-finalizado {
    span {
        background-color: $navye-blue;
    }
}

div.details-leagues {
    span {
        margin-right: 15px;
        font-size: .9em;
        color: #fff;
        padding: 5px;
        font-weight: 600;
    }

    span.detail-futbol {
        background-color: $azul-aqua-bajo;
    }

    span.detail-genero {
        background-color: $azul-medio;
    }

    span.detail-aficionado {
        background-color: $azul-marino;
    }
}


.eliminar,
.eliminar-jornada {
    color: $red-check;
    font-size: .8em;
}

.eliminar-jornada {
    background-color: transparent;
    border: 0 !important;
}

.contenedor-version-torneo {
    border: solid 2px $gris;
    min-height: 255px;
}

.texto-pequeno,
.texto-mediano,
.texto-mediano-ancho {
    color: $gris-letras;
    font-weight: 700;
    font-weight: 500;
            
}

.gol-resultado {
    font-weight: 600;
}

.texto-pequeno {
    font-size: .9em;
}

.texto-mediano-ancho {
    font-weight: 700 !important;
     span {
         font-weight: 500 !important;
     }
}

.texto-gris {
    color: $gris-letras;
}

.tabla-jugadores {
    p {
        border-bottom: 1px solid $azul-fuerte;
        display: inline;
        padding: 2px 15px;
    }
}

.texto-azul {
    color: $azul-fuerte;
}

.tarjeta-gol {
    button.tarjetas-amarillas,
    .goles-jugadores
     {
        margin: 0 5px;
        background-color: $amarillo-tarjeta;
        border: 0;
        text-align: center;
        color: #fff;
        padding: 2px 15px;
        font-size: .9em;
    }

    .goles-jugadores {
        background-color: $green-check;
    }
}

.table-jugadores {
    thead {
        tr {
            th {
                color: $gris-letras;
                font-weight: 600;
            }
        }
    }
}

.mas-informacion-torneo {
    p {
        font-weight: 700;
        span {
            display: block;
            font-weight: 500;
        }
    }
}

.contenedor-menu-tournament {
    height: 42px;
}

.menu-tournament {
    a {
        font-size: .9em;
        color: $azul-marino;
        font-weight: 500;
        margin: 0 15px;
        padding: 11px 5px;
    }

    
}

.active-menu-tournament {
    color: #fff !important;
    background-color: $azul-medio-fuerte;
}

.contenedor-noticia {
    button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px;
        margin-left: 15px;
        background-color: transparent;
        color: $red-check;
        font-size: .9em;
        border: 0
    }

    &:hover {
        border: solid 1px $azul-aqua;
        cursor: pointer;
    }
}

.contenedor-equipos,
.contenedor-jugadores,
.contenedor-partidos,
.contenedor-reportes {
    border: solid 2px $gris;
    &:hover {
        background-color: $gris;
    }
    a {
        font-size: 1em;
        font-weight: 600;
        color: $azul-fuerte !important;
        &:hover {
            color: $azul-medio !important;
        }
    }

    button {
        background-color: transparent;
        color: $azul-marino;
        border: 0;
        font-size: .8em;
        font-weight: 600;
        &:hover {
            color: $azul-medio !important;
        }
    }
}

.contenedor-partidos {
    &:hover {
        cursor: pointer;
    }
}

.contenedor-partidos {
    .header-partido {
        font-weight: 600;
        span {
            color: $blue-metalic;
        }
    }
}

.contenedor-jugadores {
    img {
        border-radius: 50%;
    }
    h4 {
        font-size: 1em;
    }

    hr {
        margin-bottom: 0;
    }

    span.fecha-nacimiento {
        font-size: .8em;
        font-weight: 700;
        color: $gris-letras;
    }

    .posicion {
        background-color: transparent;
        color: #427B80;
        border: 0;
        font-size: 1em;
        font-weight: 600;
    }

    .number-player {
        background-color: $azul-medio-fuerte;
        border-radius: 50%;
        color: #fff;
        padding: 10px;
    }

    .editar {
        position: absolute;
        right: 0;
        button: 0;
        margin-left: 15px;
        background-color: transparent;
        color: $azul-medio;
        font-size: .9em;
        border: 0;
    }
}


.multiselect__tags {
    border-radius: 0 !important;
}

.btn-jornada {
    padding: 10px;
    font-size: .8em;
    margin: 10px;
    line-height: 0;
}

.equipo-partido {
    img {
        width: 90px;
    }
}

.resultado-partido {
    p {
        background-color: $navye-blue;
        color: #fff;
    }
    .horario {
        font-size: .8em;
    }
}

.tabla-posiciones {
    position: relative;
    color: #081f2c;
    font-size: 14px;
    font-weight: 500;
    border-spacing: 0;
    width: calc(100% + 1px);
    min-width: 0;
    table-layout: fixed;
    background-color: #fff;
    thead {
        background-color: #081f2c;
        color: #fff;
    }
    
}

.tabla-posiciones {
    thead {
        background-color: $navye-blue;
        color: #fff;
    }

    th {
        padding: 11px;
        padding-left: 8px;
        text-align: center;
    }

    th.table-posicion {
        width: 50px;
    }

    th.table-equipos {
        width: 180px;
    }

    th.table-puntos {
        width: 100px;
    }

    td {
        text-align: center;
    }

    td.tabla-nombre-equipo {
        text-align: left;
    }
}


.btn-puntos {
    line-height: 0;
    margin: 0 !important;
    height: 30px;
}

.multiselect__tags {
    border-radius: 0 !important;
}

.contenedor-reportes {
    min-height: 193px;
    &:hover {
        cursor: pointer;
    }
    div.icono-reporte {
        i {
            font-size: 3.3em;
            color: $azul-marino;
        }
    }

    div.texto-reporte {
        
        h3 {
            font-size: 1.2em;
            font-weight: 600;
        }
        p {
            color: $gris-letras
        }
    }
}